/**
!/.gitattributes
!/.gitignore

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/Cargo.toml
!/rustfmt.toml
!/.cargo
!/.cargo/config.toml
!/pyproject.toml
!/*.lock
# for git workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yaml

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/src
!/src/**/
!/src/**/*.rs
!/*.pyi

!/tests
!/tests/**/
!/tests/**/*.rs

!/dist
!/dist/VERSION

!/demo
!/demo/python

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/.DS_Store
/target
**/__pycache__*
**/__archive__*

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
