/**
!/.gitignore
!/.gitattributes

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/pyproject.toml
!/.coveragerc

# ----------------------------------------------------------------
# PROJECT FILES
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/models
!/models/parts
!/models/**/*.yaml

!/src
!/src/**/
!/src/**/*.py

!/tests
!/tests/**/
!/tests/**/*.py

!/bindings
!/bindings/rust

!/scripts
!/scripts/*.py

!/dist
!/dist/VERSION


# ----------------------------------------------------------------
# ARTEFACTS
# ----------------------------------------------------------------

**/.DS_Store
**/__pycache__
**/*__archive__*
**/*.egg-info

# ----------------------------------------------------------------
# Git Keep
# ----------------------------------------------------------------

!/**/.gitkeep
