# ----------------------------------------------------------------
# PROJECT SETTINGS
# ----------------------------------------------------------------

BUILD_PACKAGE="first-party"

# ----------------------------------------------------------------
# LOCAL SYSTEM SETTINGS
# ----------------------------------------------------------------

# ... linux users
# PYTHON_PATH="python3.14"

# ... windows users
PYTHON_PATH="py -3.14"

# Rust debugging levels
RUST_BACKTRACE=0
# RUST_BACKTRACE=1
# RUST_BACKTRACE=full

# ----------------------------------------------------------------
# CREDENTIALS - GIT
# ----------------------------------------------------------------

GIT_OWNER="<OWNER>"
GIT_REPO="example-rust-bindings"
# replace by tag version - WITHOUT the 'v' prefix!
GIT_TAG='X.Y.Z'
# replace by username + PAT
GIT_USER='me'
GIT_PAT='github_pat_*****'
